
header{
    background-color: rgb(8, 8, 31);
    color:whitesmoke;
    text-align: center;
    padding:2rem; 
    border: 5px solid white;  
    border-radius: 15px;
    text-shadow: 3px 3px 5px #000000;
}
body{
    padding: 3rem ;
}
img{
    max-width: 25%;
}
main {
    width: 50vw;
    margin: auto;
}
.modelBG{
    position: fixed;
    top: O;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelArticle{
    height: 33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
}